{% themeextends "admin/base_admin.html" %}
{% load i18n %}
{% block title %}{% trans "My Plugin Message" %}: {% trans 'Title' %}{% endblock title %}
{% block heading %}{% trans 'My Plugin Message' %}: {{ plugin_message }}{% endblock heading %}

{% block content %}
    <div class="pagecontent">
        <p style="font-size:50px;">Test</p>
        <nobr><button onclick="location.href='https://www.wikipedia.org'" type="button" style="margin-right:20px;">wikipedia</button><button onclick="location.href='https://www.google.com'" type="button">google</button></nobr>
    </div>
{% endblock content %}