<style>
    .div_button {
        position: relative;
        left: 20%;
        width: 50%;
        height: 20%;
    }
    .manual_rule_button {
        margin-right: 7px;
    }
    .button.button-lila {
        background-color: rgba(71, 18, 92, 0.404);
        border: 1px solid #9825af;
        color: #9825af;
        background: 0 0;
        text-transform: uppercase;
        border-radius: 3px;
        font-size: 1.2em;
        padding: 5px 10px 5px 10px;
        margin-right: 7px;
    }
    .button.button-yellow {
        background-color: rgba(255, 238, 1, 0.521);
        border: 1px solid #dacf3f;
        color: #dacf3f;
        background: 0 0;
        text-transform: uppercase;
        border-radius: 3px;
        font-size: 1.2em;
        padding: 5px 10px 5px 10px;
        margin-right: 7px;
    }
    .button.button-blue {
        background-color: rgba(31, 136, 150, 0.473);
        border: 1px solid #30c3dd;
        color: #30c3dd;
        background: 0 0;
        text-transform: uppercase;
        border-radius: 3px;
        font-size: 1.2em;
        padding: 5px 10px 5px 10px;
        margin-right: 7px;
    }
    .button.button-green {
        background-color: rgba(25, 156, 36, 0.473);
        border: 1px solid #00ff15;
        color: #00ff15;
        background: 0 0;
        text-transform: uppercase;
        border-radius: 3px;
        font-size: 1.2em;
        padding: 5px 10px 5px 10px;
        margin-right: 7px;
    }
</style>

<div class="div_button">
    <button class="button button-lila" onclick="location.href='https://www.wikipedia.org'" type="button" >wikipedia</button>
    <button class="button button-yellow" onclick="location.href='https://www.wikipedia.org'" type="button" >wikipedia</button>
    <button class="button button-green" onclick="location.href='https://www.wikipedia.org'" type="button" >wikipedia</button>
    <button class="button button-blue" onclick="location.href='https://www.wikipedia.org'" type="button" >wikipedia</button>
    <button class="manual_rule_button" onclick="location.href='https://www.wikipedia.org'" type="button" >wikipedia</button>
    <button class="manual_rule_button" onclick="location.href='https://www.wikipedia.org'" type="button" >wikipedia</button>
    <button class="manual_rule_button" onclick="location.href='https://www.wikipedia.org'" type="button" >wikipedia</button>
    <button class="manual_rule_button" onclick="location.href='https://www.wikipedia.org'" type="button" >wikipedia</button>
</div>

