<style>
    .button-pink {
        border: 1px solid #e026cf;
        color: #e026cf;
        background: 0 0;
        text-transform: uppercase;
        border-radius: 3px;
        font-size: 1.2em;
        padding: 5px 10px 5px 10px;
        margin: 3px;
    }
    .button-pink:hover {
        background-color: transparent;
        border: 1px solid #e026cf;
        color: #ffffff;
    }

    .button-yellow {
        border: 1px solid #dacf3f;
        color: #dacf3f;
        background: 0 0;
        text-transform: uppercase;
        border-radius: 3px;
        font-size: 1.2em;
        padding: 5px 10px 5px 10px;
        margin: 3px;
    }

    .button-yellow:hover {
        background-color: rgba(255, 238, 1, 0.158);
        border: 1px solid #dacf3f;
    }

    /* .button.button-blue {
        background-color: rgba(31, 136, 150, 0.473);
        border: 1px solid #30c3dd;
        color: #30c3dd;
        background: 0 0;
        text-transform: uppercase;
        border-radius: 3px;
        font-size: 1.2em;
        padding: 5px 10px 5px 10px;
        margin: 3px;
    } */

    .button-blue {
        border: 1px solid #4390bc;
        color: #4390bc;
        background: 0 0;
        text-transform: uppercase;
        border-radius: 3px;
        font-size: 1.2em;
        padding: 5px 10px 5px 10px;
        margin: 3px;
    }

    .button-blue:hover {
        background-color: #4285ac63;
        border: 1px solid #4390bc;
    }

    .button-green {
        background-color: rgba(25, 156, 36, 0.473);
        border: 1px solid #00ff15;
        color: #00ff15;
        background: 0 0;
        text-transform: uppercase;
        border-radius: 3px;
        font-size: 1.2em;
        padding: 5px 10px 5px 10px;
        margin: 3px;
    }

    .button-green:hover {
        background-color: transparent;
        border: 1px solid #00ff15;
        color: #ffffff;
    }
</style>


<div class="div_button" style="float: right; padding: 43px 43px;">
    <button class="button-pink" onclick="location.href='https://www.wikipedia.org'" type="button" >wikipedia</button>
    <button class="button-yellow" onclick="location.href='https://www.wikipedia.org'" type="button" >Lorem ipsum</button>
    <button class="button-green" onclick="location.href='https://www.wikipedia.org'" type="button" >Aenean odio</button>
    <button class="button-blue" onclick="location.href='https://www.wikipedia.org'" type="button" >Nulla posuere</button>
</div>

