<style>
    .div_button {
        position: relative;
        left: 20%;
        width: 50%;
        height: 20%;
    }
    .manual_rule_button {
        margin-right: 7px;
    }
</style>
<div class="div_button">
    <button class="button button-delete" onclick="location.href='https://www.wikipedia.org'" type="button" >wikipedia</button>
    <button class="manual_rule_button" onclick="location.href='https://www.wikipedia.org'" type="button" >wikipedia</button>
    <button class="manual_rule_button" onclick="location.href='https://www.wikipedia.org'" type="button" >wikipedia</button>
    <button class="manual_rule_button" onclick="location.href='https://www.wikipedia.org'" type="button" >wikipedia</button>
    <button class="manual_rule_button" onclick="location.href='https://www.wikipedia.org'" type="button" >wikipedia</button>
    <button class="manual_rule_button" onclick="location.href='https://www.wikipedia.org'" type="button" >wikipedia</button>
    <button class="manual_rule_button" onclick="location.href='https://www.wikipedia.org'" type="button" >wikipedia</button>
    <button class="manual_rule_button" onclick="location.href='https://www.wikipedia.org'" type="button" >wikipedia</button>

</div>

